/* 테이블 스타일 지정*/
#todoList {
  border-collapse: collapse;
}

#todoList td, #todoList th {
  padding: 5px 8px;
}

thead th  {
  background-color: skyblue;
}

tbody > tr:nth-last-of-type(2n){
  background-color: #ddd;
}

#mainLoginBtn {
  border: 1px solid black;
  border-radius: 3px;
  width: 30px;
  height: 10px;
}
